<!-- (First Part) to Run navigation simulation with move_base in hall_inria map -->
<!-- author: Arturo Escobedo -->

<!-- usage: call
        (1) roslaunch iteshu_robot sim_nav_ros.launch -->

<launch>
<arg name="sim" default="1"/><!--not used in this launch file I just didn't want to remove it -->

<param name="/use_sim_time" value="true" />
    #### START SIMULATED WORLD ####
	<!-- Start stage -->
    <node pkg="stage_ros" type="stageros" name="stageros" args="$(find iteshu_robot)/world/hall_inria.world" respawn="false" output="screen">
	    <param name="base_watchdog_timeout" value="0.2"/>
    </node>

    <include file="$(find iteshu_robot)/world/hall_inria.launch"/>

	##### START NAVIGATION ####
    ####### Publish the map: It should be global so no namespace is defined #####
    <group if="$(arg sim)">
		<param name="/use_sim_time" value="true" />
		<node pkg="map_server" type="map_server" name="map_server" output="log" args="$(find iteshu_robot)/world/hall_inria.yaml" respawn="true" >
			<param name="frame_id" value="/map" />
		</node>
	</group>

	##### Start navigation #######
	<group if="$(arg sim)" ns="robot_0">
		<param name="/use_sim_time" value="true" />
		<param name="tf_prefix" value="robot_0" />
	    <include file="$(find iteshu_robot)/launch/navigation/navigation_ros_planner.launch" >
	    		<arg name="mode_selector" value="0" /> <!-- zero because we want to send cmd_vel directly from planner to the simulated wheelchair -->
	    </include>
		<node pkg="tf" type="static_transform_publisher" name="tf_map_to_wheelchair" args="0 0 0 0 0 0 /map /robot_0/map 100" />
        <node pkg="tf" type="static_transform_publisher" name="tf_stage_laser_to_real_laser" args="0 0 0 0 0 0 base_laser_link base_laser 100" />
	</group>

	##### START RVIZ   #####
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find iteshu_robot)/conf/rviz/sim_nav_ros.rviz"/>

</launch>
